<h2 mat-dialog-title>Insert a Record</h2>

<mat-dialog-content>
    <label>ID:      
        <input [(ngModel)]="data.id" placeholder="id"/>
    </label>
    <br>
    <label>Title:  
        <input [(ngModel)]="data.name" placeholder="name"/>
    </label>
    <br>
    <label>Type:   
        <input [(ngModel)]="data.type" placeholder="type"/>
    </label>
    <br>
    <label>Year:   
        <input [(ngModel)]="data.year" placeholder="year"/>
    </label>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="save()">Save</button>
</mat-dialog-actions>
