<div class="navbar">
  <h2 class="title" mat-dialog-title>Edit a Record for {{title}}</h2>
  <mat-dialog-actions>
      <button class="newRecord" [mat-dialog-close]>Cancel</button>
      <button class="newRecord" (click)="delete()" >Delete Record</button>
      <button class="newRecord" (click)="update()" >Update Record</button>
    </mat-dialog-actions>
</div>
<br>
<div>
  <mat-dialog-content > 
      <label class="recordLabel" *ngFor="let item of fields">{{item}} <span></span> 
      <li><input class="recordData" matInput [(ngModel)]="data[item]" placeholder=""/></li>
      </label>
  </mat-dialog-content>
</div>