<title>{{ title }}</title>
<div class="navbar">
    <div class="col-sm-2">
        <a href="#home" height="25"><img src="assets/img/pmdb2.png" width="75" height="30"></a>
    </div>
    <div ng-app="ngrepeatSelect" ng-controller="tableController">
      <form name="myForm">
        <select name="repeatSelect" 
            id="repeatSelect" 
            ng-init="repeatSelect = 'options[0].name'" 
            ng-model="repeatSelect" 
            ng-options="option.name as option.name for option in options"
            ng-change="print(repeatSelect)">
        </select>
      </form>
    </div>
    <div class="col-sm-6">
        <img src="assets/img/projectmediadb4.png" alt="ProjectMediaDB" width="200" height="50" align="right">
    </div>
</div>
<div class="col-*-*">
  <br>
  <h2>Welcome to {{ title }}</h2>
  <h3>SQL Engine designed for UMUC CMSC 495 Fall 2018 class project</h3>
  <h4>Created by Ryan Flynn, Brandon Galde, and Yodit Emiru</h4>
  <br>
  <br>

  <h2>Here are some links to help you start: </h2>
  <li *ngFor="let item of data | async"><span *ngFor="let i of item |keyvalue">{{ i.value }}</span></li>
</div>
