<title>{{ title }}</title>
<div class="navbar">
    <div class="col-sm-2">
        <a href="#home" height="25"><img src="assets/img/pmdb2.png" width="75" height="30"></a>
    </div>
    <div>
      <form name="myForm">
        <select (change)="tableSelect($event.target.value)">
          <option selected="selected">Table to Query</option>
	        <option *ngFor="let item of data |async">{{ item.name }}</option>
        </select>
      </form>
    </div>
    <div>
      <button (click)="openEmptyDialog($event)">Insert a Record</button>
    </div>
    <div>
        <img src="assets/img/projectmediadb4.png" alt="ProjectMediaDB" width="200" height="50" align="right">
    </div>
</div>
<div class="col-*-*">
  <br>
  <h2>Welcome to {{ title }}</h2>
  <h3>SQL Engine designed for UMUC CMSC 495 Fall 2018 class project</h3>
  <h4>Created by Ryan Flynn, Brandon Galde, and Yodit Emiru</h4>
  <!--><h2>Here are some links to help you start: </h2>
  <li *ngFor="let item of data | async"><span *ngFor="let i of item |keyvalue">{{ i.value }}</span></li>
  <ng-template [ngIf]="tableData?.length > 0">
    <li *ngFor="let item of tableData |async">{{ item }}</li>
  </ng-template> -->
</div>
<div>
  <span>
    <ng-container *ngIf="appService.table !== undefined">
      <div class="mat-elevation-z8 display-table" >
          <mat-table #table class="full-width-table" [dataSource]="dataSource" aria-label="Elements">
              <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index " matColumnDef="{{disCol}}">
                  <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>
                  <mat-cell *matCellDef="let element "> {{ element[disCol] }}
                  </mat-cell> 
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog($event, row)"></mat-row>
          </mat-table>
      </div>
  </ng-container>
  
  </span>
</div>

