.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.newRecord {
    font-size: 16px;
    border: none;
    display: inline-block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 12px 28px;
    text-decoration: none;
}

.newRecord:hover{
    background-color: red;

}

.custom-select{
    position: relative;
    font-size: 16px;
}

.custom-select select{
    display: none;
}

.select-selected {
    background-color: #333;
}

.selected-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: 
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.show {
    display: block;
}

.image {
    text-align: right;
}
.display-table {
    width: 80%;
    margin: 20px auto;
  }
  
  .mat-column-id{
    width: 10%;
  }
  
  .mat-column-name {
    width: 50%;
  }
  
  .mat-column-year {
    width: 30%;
  }
  .mat-column-type {
    width: 50%;
  }
  